body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.background-1 {
    background-color: #2B2736;
    position: absolute;
    width: 457px;
    height: 1186.12px;
    left: -9px;
    top: -0.12px;
    border-radius: 5px;
}

.background-2 h1 {
    position: absolute;
    width: 295.45px;
    height: 28.95px;
    left: 55.1px;
    top: 1px;
}

.background-2 img {
    position: absolute;
    width: 96.16px;
    height: 92.6px;
    left: 350.81px;
    top: -8px;
}

.background-2 {
    position: absolute;
    width: 457px;
    height: 77.2px;
    left: 2px;
    top: -0.12px;
    background: #FFFFFF;
    border-radius: 5px;
}

.background-2 p {
    margin: 0px;
    width: 356.31px;
    height: 35.38px;
    left: 55.1px;
    top: 110.22px;
}